body {
  
}

h1, h2{
  padding-bottom: 35px;
  
}

h3{
}

img{
  float: right;
  padding-right:55%;
}

.detailsWpc{

  td {
    padding: 15px;
    text-align: right;
    font-size: 20px;
  }
}

.Wpc{
  border: 0.2px solid black;
  border-collapse: collapse;

  th{
    padding: 15px;
    border: 0.2px solid black;
    font-size: 20px;
  }
}

.wpcAbout{
  text-align: right;
  border: 0.2px solid black;
  border-collapse: collapse;
  th{
    padding: 15px;
    border: 0.2px solid black;
    font-size: 20px;
  }
  td {
    text-align: right;
    padding: 15px;
    border: 0.2px solid black;
    font-size: 20px;
  }

}


.summaryPayments{
  border: 0.2px solid black;

  th{
    padding: 10px;
    border: 0.2px solid black;
    font-size: 20px;
  }
  td {
    text-align: left;
    padding: 10px;
    font-size: 20px;
  }
}

.summaryPayment{
  
  td {
    text-align: left;
    padding: 15px;
    font-size: 20px;
  }
}

.payable{

  td {
    text-align: center;
    padding: 15px;
    font-size: 20px;
  }
}

.signatureLast{
  border: 0.2px solid black;
  td{
    padding: 15px;
    font-size: 20px;
  }
}