a {
    color: #0077bb;
    font-family: "Lucida Sans",Arial;
    text-decoration: none;
}
#page {
    border-color: -moz-use-text-color silver;
    border-style: none solid;
    border-width: 0 1px;
    font-family: "PT Sans",Arial;
    font-size: 13px;
    position: relative;
    width: 100%;
    min-width: 960px;
}
#header-info {
    margin: 0 50px 10px;
    min-height: 90px;
}
#header {
    /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAF0lEQVQIW2O8ffv2fwYkwIjMAbEHiwAAWPEDm3AlUR0AAAAASUVORK5CYII=) repeat;*/
    background: url("@@contextPath@@/plugin/org.joget.sample.EnhancedTheme/themes/enhanced/header.png") repeat;
    height: 80px;
    
}
#header-name {
    padding-top: 25px;
}
#header-link {
    color: 6b317d;
    font-weight: bold;
    text-decoration: none;
}
#header-name span {
    font-size: 30px;
}
#header-description {
    color: #555555;
    font-style: italic;
}
#header-logout-text {
    color: #555555;
}
#main {
    border: 0 none;
}
#sidebar {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 0 none;
    margin: 0 0 30px 20px;
    min-height: 450px;
}
#content {
    margin: 10px 10px 0;
    padding: 30px;
    width: 90%;
}
.category {
    margin: 15px;
}
.category-label {
    background-color: #798495;
    color: #ffffff;
}
.category-label span {
    display: block;
    font-size: 14px;
    padding: 5px;
}
.category-label a {
    color: #DCDDDE;
    text-decoration: none;
}
.menu-container a {
    color: #384863;
    text-decoration: none;
}
.menu {
    border-bottom: 1px dotted #384863;
    cursor: pointer;
    padding: 5px 5px 5px 15px;
}
#category-container .current, #category-container .current-category {
    color: steelblue;
    font-weight: bold;
}
.menu-link span {
    font-weight: normal;
}
.menu-link:hover span {
    color: steelblue;
}
.menu-container .current span {
    color: steelblue;
    font-weight: bold;
}
#footer {
    border: 0 none;
    color: #ffffff;
    text-align: center;
}
#footer-message {
    background: none repeat scroll 0 0 #384863;
    border-top: 1px solid silver;
    padding: 10px 50px;
}
#page th.sortable a {
    font-size: 13px;
}
#page thead tr {
    background-color: #dfdfdf;
}
body#login #content, body#unauthorize #content {
    float: none;
    min-height: 350px;
    width: 920px;
}
#navigation {
    background-color: #efefef;
    transition: width 0.2s ease-in-out 0s;
    width: 20px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    min-height: 100%;
}
#navigation:hover {
    transition: width 0.2s ease-in-out 0s;
    width: 250px;
}
#category-container {
    margin-left: 5px;
}

#header-name {
    padding-top: 10px;
}

#header-info {
    margin: 0 50px 10px;
    min-height: 45px;
}

#header-message {
    margin: 0 50px 5px;
}